.toDoWrapper {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.toDoTabButtons > button {
    height: 5vh;
    width: 5vw;
    font-size: medium;
    border-color: transparent;
}

.toDoTabButtons > button.selected {
    background-color: aquamarine;
}

.toDoTaskList {
    font-size: large;
    text-align: left;
}

.strike {
    text-decoration: line-through;
}

.addToDoWrapper {
    padding-bottom: 1vh;
}

.addToDoTextField {
    height: 3vh;
    width: 10vw;
    font-size: medium;
}

.addToDoButton {
    height: 3.5vh;
    width: 5vw;
    font-size: medium;
    border-color: transparent;
}